body{
    background-color:lightpink;
}
h1{
 text-align: center;
 color:darkred;
 font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-size : 4rem;
  
}
button{
  color: black;
  background-color: yellow;
  margin-bottom: 20px;
}
img
{
  width: 400px;
  height: 300px;
}
#main{
  display: inline-flex;
  flex-direction: row;
 justify-content: space-around;
 gap: 10px;
}
#button{
  display: flex;
 gap: 620px;
}
#footer{
  display: flex;
  justify-content: center;
 
}
p{
  font-size: 1.5rem;
  color:darkred;
 font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
#fbutton{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#fimg{
  margin-top: 10px;
  width: 50%;
  height:110px;
  object-fit: cover;
}